
.cell {
    width: 55px;
    height: 55px;
    float:left;
    background: url('../images/cells/cell.png');
}
.cell:hover {
    /*background: url('../images/bwStone.png') no-repeat center center;*/
    cursor: pointer;
}
.line {
    width: 100%;
    float: left;
}
.gamefield {
    width: 495px;
    height: 495px;
    float: left;
}
.gamefield .cell2 {
    background: url('../images/blackStone.png') no-repeat center center;
}
.gamefield .cell1 {
    background: url('../images/whiteStone.png') no-repeat center center;
}
.scoreboard {
    width: 200px;
    float: right;
}
.scoreboard .white, .scoreboard .black {
    width: 67px;
    height: 43px;
    padding-left: 113px;
    margin-bottom: 10px;
    float:left;
    font-size: 20px;
}

.scoreboard .white {
    background: url('../images/whiteStone.png') no-repeat;
}
.scoreboard .black {
    background: url('../images/blackStone.png') no-repeat;
}

.status-line {
    float: left;
    padding: 10px 0;
}

* {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    max-width: 756px;
}

.full-wrapper {
    float: left;
}

.pass-button {
    width: 100%;
}

.pass-button:focus {
   color: #333;
   background-color: #fff;
   border-color: #ccc;
   outline: none;
}

.menu-bar {
    padding: 50px 0;
}

.back {
    min-height: 120vh;
    min-width: 110vw;
    position: absolute;
    z-index: -1;
    background: url('../images/hipster_back.jpg') no-repeat center center;
    -webkit-filter: blur(15px);
    margin-left: -30px;
    margin-top: -20px;
    overflow: hidden;
}

body {
    background: none !important;
    overflow: hidden;
}

.gamefield {
    background: rgba(255, 255,255, 0.3);
    padding: 20px;
    box-sizing: content-box;
}

.scoreboard {
    background: rgba(255, 255,255, 0.5);
    float: left;
    margin-left: 3px;
    height: 100%;
    padding-left: 10px;
}

.statusrow {
    margin-top: 3px;
    background: rgba(255, 255,255, 0.5);
    padding-left: 10px;
    float: left;
    width: 100%;
    max-width: 535px;
}

.buttons {
    float: left;
    width: 200px;
    margin-left: 3px;
}

.buttons .btn {
    background: rgba(255,255,255,0.8);
    border-radius: 0;
}

.field-wrapper {
    float: left;
}