.cell {
    width: 55px;
    height: 55px;
    float:left;
}
.cell:hover {
    /*background: url('../images/bwStone.png') no-repeat center center;*/
    cursor: pointer;
}
.line {
    width: 100%;
    float: left;
}
.gamefield {
    width: 495px;
    height: 495px;
    padding: 4px;
    float: left;
    background: url('../images/gamefield99.jpg');
}
.gamefield .cell2 {
    background: url('../images/blackStone.png') no-repeat center center;
}
.gamefield .cell1 {
    background: url('../images/whiteStone.png') no-repeat center center;
}
.scoreboard {
    width: 200px;
    float: right;
}
.scoreboard .white, .scoreboard .black {
    width: 67px;
    height: 43px;
    padding-top: 50px;
    padding-left: 113px;
    margin-bottom: 10px;
    float:left;
    font-size: 20px;
}

.scoreboard .white {
    background: url('../images/whiteScoreboard.jpg');
}
.scoreboard .black {
    background: url('../images/blackScoreboard.jpg');
}

.scoreboard .white.act {
    background: url('../images/whiteScoreboardAct.jpg');
}
.scoreboard .black.act {
    background: url('../images/blackScoreboardAct.jpg');
}

.status-line {
    float: left;
    width: 180px;
    padding: 10px;
}

* {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
