<div loading>
    <div class="spin-wrapper">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

    <div class="game-wrapper">

        <div class="row">
            <div class="field-wrapper col-sm-9 col-xs-12">
                <div class="gamefield">
                    <div class="line" ng-repeat="field in gameField" ng:init="parentIndex = $index">
                        <div ng-repeat="f in field track by $index" ng-click="setStone(parentIndex, $index)">
                            <div scale class="cell cell{{f}}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <scoreboard></scoreboard>
        </div>
        <div class="statusrow row">
            <div class="status-line col-sm-9 col-xs-12">
                <!-- <div>{{status}}</div> -->
                <div ng-class="errorState ? 'bg-danger': 'bg-success'" class="statusmessage">{{status}}</div>
            </div>
        </div>
    </div>

</div>
