<div class="control-group">

    <div>
        <div ng-click="createNewField(size)">createNewField</div>
        <input type="number" ng-model="size">
    </div>

</div>
<div class="row">
    <div class="field-wrapper">
        <div class="gamefield">
            <div class="line" ng-repeat="field in gameField" ng:init="parentIndex = $index">
                <div ng-repeat="f in field track by $index" ng-click="setStone(parentIndex, $index)">
                    <div class="border-left cell cell{{f}}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-right">
        <div class="scoreboard">
            <h2>Score:</h2>

            <div class="white" ng-class="{act: whosNext == 'white'}">{{score.white}}</div>
            <div class="black" ng-class="{act: whosNext == 'black'}">{{score.black}}</div>
        </div>
        <div class="buttons">
            <div class="pass-button btn btn-default" ng-click="pass()">Pass {{operate}}</div>
        </div>
    </div>
</div>
<div class="statusrow row">
    <div class="status-line">
        <div>{{status}}</div>
        <div ng-class="errorState ? 'bg-danger': 'bg-success'">{{setStoneState.message}}</div>
    </div>
</div>
