<div class="sidebar-right col-sm-3 col-xs-12">
    <div class="scoreboard">
        <h2>Score:</h2>

        <div class="white" ng-class="{notactive: whosNext != 'white'}"><span class="score-number">{{score.white}}</span></div>
        <div class="black" ng-class="{notactive: whosNext != 'black'}"><span class="score-number">{{score.black}}</span></div>
    </div>

    <div class="your-turn col-xs-5 col-sm-12">
        <div ng-if="myTurn()"><i class="fa fa-check"></i><span>play</span></div>
        <div ng-if="!myTurn()"><i class="fa fa-ban"></i></i><span>wait</span></div>
    </div>
    <div class="buttons">

        <div class="pass-button btn btn-default" ng-click="pass()"><i class="fa fa-repeat"></i><span>Pass</span></div>
        <div class="close-button btn btn-default" ng-click="closeGame()"><i class="fa fa-stop"></i><span>Close Game</span></div>
    </div>

</div>
