<md-dialog>
    <md-content>Hello {{ employee }}!Build amazing apps on any platform with one single code base on top of the powerful Ionic Framework.
From the UI, to design tools and backend services like analytics and push notifications. Ionic has it all.Build amazing apps on any platform with one single code base on top of the powerful Ionic Framework.
From the UI, to design tools and backend services like analytics and push notifications. Ionic has it all.Build amazing apps on any platform with one single code base on top of the powerful Ionic Framework.
From the UI, to design tools and backend services like analytics and push notifications. Ionic has it all.Build amazing apps on any platform with one single code base on top of the powerful Ionic Framework.
From the UI, to design tools and backend services like analytics and push notifications. Ionic has it all.Build amazing apps on any platform with one single code base on top of the powerful Ionic Framework.
From the UI, to design tools and backend services like analytics and push notifications. Ionic has it all.Build amazing apps on any platform with one single code base on top of the powerful Ionic Framework.
From the UI, to design tools and backend services like analytics and push notifications. Ionic has it all.Build amazing apps on any platform with one single code base on top of the powerful Ionic Framework.
From the UI, to design tools and backend services like analytics and push notifications. Ionic has it all.Build amazing apps on any platform with one single code base on top of the powerful Ionic Framework.
From the UI, to design tools and backend services like analytics and push notifications. Ionic has it all.</md-content>
        <div class="md-actions">
            <md-button ng-click="closeDialog()">
                Close Greeting
            </md-button>
        </div>
</md-dialog>
