<md-dialog>
    <md-content>

    <md-tabs class="tabs-container" md-selected="selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
       Join Game
      </md-tab>

      <md-tab id="tab2" aria-controls="tab2-content">
        Start new Game
      </md-tab>
    </md-tabs>


    <ng-switch on="selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="tab1-content" class="welcome-tab" aria-labelledby="tab1" ng-switch-when="0">
           <p>To join a new game, simply fill in your name and click on the desired game instance</p>
           <div class="your-name">Your name: <input type="text" ng-model="newPlayerName || userMail"></div>

             <md-divider></md-divider>
            <div class="welcome-static-height">
            <h3 ng-if="allGames.length != 0">Games available to join:</h3>
            <div ng-repeat="game in allGames" ng-click="joinGame(game.gameId, newPlayerName)">
                <div class="oneGame" ng-if="game.availableToJoin">
                    <div>Player1: {{game.player1}}</div>
                    <div>Player2: {{game.player2}}</div>
                    <div>GameId: {{game.gameId}}</div>
                </div>
                <md-divider ng-if="!$last"></md-divider>

            </div>
            <h3 ng-if="allGames.length != 0">Running Games:</h3>
            <div ng-repeat="game in allGames">
                <div class="oneGame" ng-if="!game.availableToJoin">
                    <div>Player1: {{game.player1}}</div>
                    <div>Player2: {{game.player2}}</div>
                    <div>GameId: {{game.gameId}}</div>
                </div>
                <md-divider ng-if="!$last"></md-divider>

            </div>
            </div>
        </div>
        <div role="tabpanel" id="tab2-content" class="welcome-tab" aria-labelledby="tab2" ng-switch-when="1">
            <div class="welcome-static-height new-game" id="new-game-height">
                <p>To start a new game, simply fill in your name and the desired gamefield-size and hit 'Start new game'</p>
                <md-divider></md-divider>
                <div class="input-line"><span class="label">Your name:</span> <input type="text" ng-model="player1 || userMail"></div>
                <div class="input-line"><span class="label">Gamefield size: </span> <input type="number" ng-model="newGameFieldSize"></div>
                <md-divider></md-divider>
                <div class="create-button btn btn-default" ng-click="createNewGame(player1, newGameFieldSize)"><i class="fa fa-play"></i>Start new game</div>


            </div>
        </div>
        <p></p>
        <p>Logged in as: {{userMail}}</p>
    </ng-switch>




</md-content>

</md-dialog>
