@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("css/main.css")'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.Assets.at("bower_components/angular/angular.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("bower_components/angular-ui-router/release/angular-ui-router.min.js")'></script>
    <style>
    body {
        margin-top: 50px;
    }
    </style>
</head>
<body ng-app="goApp">
    <div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a id="titleLink" class="brand" href="/">@title</a>
                </div>
            </div>
        </div>
        <div class="container" ui-view>
            @content
        </div>
    </div>



    <script type='text/javascript' src='@routes.Assets.at("js/app.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("js/services/gameService.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("js/ctrl/mainCtrl.js")'></script>


</body>
</html>
