@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='@routes.Assets.at("css/main.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("bower_components/angular-material/angular-material.css")'>
    <link rel="import" href='@routes.Assets.at("elements/game-menu.html")'>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />

    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.Assets.at("bower_components/angular/angular.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("bower_components/angular-ui-router/release/angular-ui-router.min.js")'></script>

    <script type='text/javascript' src='@routes.Assets.at("bower_components/angular-aria/angular-aria.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("bower_components/angular-animate/angular-animate.min.js")'></script>

    <script type='text/javascript' src='@routes.Assets.at("bower_components/hammerjs/hammer.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("bower_components/angular-material/angular-material.min.js")'></script>
    <script type="text/javascript">
    (function () {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
  </script>
</head>
<body ng-app="goApp">
        <div class="back"></div>
        <div class="container" ui-view>

        </div>


        <script type='text/javascript' src='@routes.Assets.at("js/app.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/services/gameService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/services/welcomeService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/services/websocketService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/services/authService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/ctrl/welcomeCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/ctrl/welcomeDialogCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/ctrl/authCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/ctrl/gameCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/directives/loading.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/directives/scale.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/directives/scoreboardDirective.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/directives/gamefieldDirective.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/directives/gamestatusDirective.js")'></script>



</body>
</html>
